@import "../../../style/variables";
@import "../../../style/mixins";

.events-list-page {
  @include body-container(auto);

  .events-list-page-action {
    width: 100%;
    display: flex;
    justify-content: center;

    .events-list-page-action-children {
      background-color: rgba($color-secondary, 0.1);
      padding: 0.5rem 1rem;
    }

    &.events-list-page-action-top {
      margin-bottom: 1rem;

      .events-list-page-action-children {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }

    &.events-list-page-action-bottom {
      margin-top: 1rem;

      .events-list-page-action-children {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }
    }
  }
}
