@import "../../style/variables";
@import "../../style/mixins";

.app-header {
  background-color: $color-dark;

  .app-header-content {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .app-logo {
      border-radius: 0.25rem;
      padding: 0.5rem;
      margin-left: -0.5rem;

      &:hover {
        background-color: lighten($color-dark, 10%);
      }

      &:focus {
        @include focus("dark");
      }

      img {
        height: 1.5rem;
      }
    }
  }
}
