@import "../../style/variables";

.app-footer {
  background-color: $color-primary-light;
  padding: 1rem 0;

  .app-footer-content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 40rem) {
      flex-direction: column;
      align-items: center;

      > * {
        text-align: center;

        + * {
          padding-top: 0.5rem;
        }
      }
    }
  }
}
