@import "../../../style/mixins";
@import "../../../style/mixins";

.fetched-content {
  // position: relative;
  width: 100%;

  @include body-container(auto);

  .update {
    position: absolute;
    left: 0;
    top: -1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    opacity: 0.75;
    font-size: 75%;
  }
}
