@import "../../style/mixins";

.fetched-content {
  // position: relative;
  width: 100%;

  @include body-container(auto);

  .update {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.5rem;
    line-height: 1.5rem;
  }
}
