@import '../../style/variables';
@import '../../style/mixins';

.form-field {

    margin-bottom: 1rem;

    > label {
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        opacity: 0.9;
        display: block;
        margin-bottom: 0.25rem;
        margin-left: calc(#{$input-padding} + #{$input-border-width});
    }
}