@import "../../style/variables";

.markdown-preview {
  width: 100%;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
  border-left: 0.25rem solid $color-primary-light;
  background-color: rgba($color-primary-light, 0.1);

  overflow: auto;
}
