@import "../../../style/variables";
@import "../../../style/mixins";

$input-border: $input-border-width solid rgba($color-dark, 0.5);

.input {
  > input,
  > select,
  > textarea {
    border: $input-border;
    background-color: $color-white;
    padding: 0.5rem $input-padding;
    border-radius: 1rem;
    height: 3rem;
    line-height: 1.5;

    &:focus,
    &:focus-within {
      @include focus;
    }

    &:disabled {
      border-color: rgba($color-dark, 0.05);
    }

    &:only-child {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }

  > textarea {
    border-bottom-right-radius: 0.25rem;
    min-height: 10rem;
  }

  &.invalid {
    > input,
    > select,
    > textarea {
      border-color: $color-danger;

      &:before {
        border-color: $color-danger;
      }
    }
  }

  &.input-group {
    display: flex;
    align-items: center;

    > * {
      flex-basis: 0;
    }

    > input,
    > select,
    > textarea {
      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child) {
        margin-left: 0.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
